@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rum+Raisin&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: black;
}


/* Headings and Logo */
h1,
h2 {
    font-family: Rum Raisin, sans -serif;
    text-transform: capitalize;
    letter-spacing: 5px;
    color: green;

}


#logo {
    text-align: center;
    font-size: 300%
}

/* Nav bar*/

section {
    padding-top: 20px;
}



#menu {
    font-size: 80%;
    letter-spacing: 1px;
    margin: 5;
    padding: 5;
    float: right;
}

#menu li {
    display: inline;
}





/* hero-image */

#hero-image {
    height: 800px;
    width: 100%;
    background-image: url('../images/craft-beer-5412913_960_720.jpeg');
    position: center;
    background-repeat: no-repeat;
    background-size: cover;

}






/* ethos and history */

#ethos {
    height: 400px;
    text-align: center;
}

#left-about {
    padding-top: 30px;
    width: 50%;
    float: left;

}

#right-about {
    padding-top: 30px;
    width: 50%;
    float: right;

}

/* brand-image and cover text */

}

#brand-image