@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rum+Raisin&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: black;
}


/* Headings and Logo */
h1,
h2 {
    font-family: Rum Raisin, sans -serif;
    text-transform: capitalize;
    letter-spacing: 5px;
    color: green;

}


#logo {
    text-align: center;
    font-size: 300%
}

/* Nav bar*/

#menu {
    font-size: 80%;
    letter-spacing: 1px;
    margin: 5;
    padding: 5;
    float: right;
}

#menu li {
    display: inline;
}


/* hero-image and hero text*/

#hero-image {
    background-image: url('../images/craft-beer-5412913_960_720.jpeg');
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* ethos and history */

#ethos {
    height: 1000px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: blue;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: silver;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    background-color: green;
}