@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rum+Raisin&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: blueviolet;
}


/* Headings and Logo */
h1,
h2 {
    font-family: Rum Raisin, sans -serif;
    text-transform: capitalize;
    letter-spacing: 5px;
    color: black;

}

#logo {
    text-align: center;
    font-size: 300%
}

/* Nav bar*/

#menu {
    font-size: 80%;
    letter-spacing: 1px;
}

#menu li {
    float: right;
}


/* hero-image*/

#hero-image {
    height: 1000px;
    width: 100%;
    background: url('../images/gettyimages-1041019480-2048x2048.jpeg');

}

< !-- Need to go back and resize the image -->